#it will show the book details 

<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Showing book details</div>
  <div class="card-body">
    <h5 class="card-title"><strong>Book ID: </strong> <%= @book.id %> <br></h5>
    <p class="card-text">
      <strong>Title </strong> <%= @book.title %><br>
      <strong>No. of Units: </strong> <%= @book.number_Of_units %><br>
      <strong>No. of Units: </strong> <%= @book.description %>
    <% if logged_in? %>
      <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= "(Librarian)" if current_user.librarian? %> Profile [<%= current_user.first_name %>]</a>
      <td><%= link_to 'Edit', {:action => 'edit'},  class: 'btn btn-primary' %></td>
      <td><%= link_to 'delete', class: 'btn btn-primary', method: :delete %></td>
      <td><%= link_to 'issue', {:action => 'issue'},  class: 'btn btn-primary' %></td>
    <% end %>
    </p>
  </div>
</div>

<hr />
<%= link_to 'Back', {:action => 'index'},  class: 'btn btn-primary' %>